<!-- safety_pilot_list_offering.html -->
{% extends 'connections/base.html' %}

{% block title %}Safety Pilot List - Offering - Pilot Connect{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2>List of users offering to be a Safety Pilot List - All users</h2>
    <p>List of users offering to be a Safety Pilot.</p>

    <table class="table table-striped mt-2">
      <thead>
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Home Airport</th>
          <th scope="col">VFR Single Engine</th>
          <th scope="col">IFR Single Engine</th>
          <th scope="col">IFR Multi Engine</th>
          <th scope="col">Actions</th> <!-- Add a new column for actions -->
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody>
        {% for pilot_profile in object_list %}
          <tr>
            <td>{{ pilot_profile.user.username }}</td>
            <td>{{ pilot_profile.home_airport }}</td>
            <td class="text-center">{% if pilot_profile.safety_pilot_offer_vfr_single_engine %}✅{% endif %}</td>
            <td class="text-center">{% if pilot_profile.safety_pilot_offer_ifr_single_engine %}✅{% endif %}</td>
            <td class="text-center">{% if pilot_profile.safety_pilot_offer_ifr_multi_engine %}✅{% endif %}</td>
            <td>
              <a href="{% url 'view_pilot_profile' user_id=pilot_profile.user.id %}" class="btn btn-primary">Profile</a>
              <a href="{% url 'send_message' recipient_id=pilot_profile.user.id %}" class="btn btn-success">Message</a>
            </td>
            <!-- Add more columns as needed -->
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
