{% extends 'connections/base.html' %}

{% block title %}Users from the Same Airport{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div style="color: black;">
          <h1>User List for:</h1>
          <h2>{{ user.pilotprofile.home_airport }}</h2>
            <p>Showing users from your home airport</p>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Home Airport</th>
                    <th>Last Login Date</th>
                    <th>Registration Date</th>
                    <th>Actions</th>  <!-- Added column for Actions -->
                    <!-- Add more columns if needed -->
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.pilotprofile.home_airport }}</td>
                        <td>{{ user.last_login|default:"N/A" }}</td>
                        <td>{{ user.date_joined|date:"F d, Y" }}</td>
                        <td>
                            <a href="{% url 'view_pilot_profile' user.id %}" class="btn btn-primary">View Profile</a>
                            <a href="{% url 'send_message' user.id %}" class="btn btn-success">Send Message</a>
                        </td>
                        <!-- Add more columns if needed -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
