{% extends 'connections/base.html' %}

{% block title %}User List by State - Pilot Connect{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1 style="color: black;">User List for {{ user.pilotprofile.home_airport.state }}</h1>
    <p>Showing users in the same state as your home airport, sorted by user name.</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Home Airport</th>
          <th>Last Login Date</th>
          <th>Registration Date</th>
          <th>Actions</th>  <!-- Added column for Actions -->
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.pilotprofile.home_airport }}</td>
            <td>{{ user.last_login|date:"F d, Y H:i:s" }}</td>
            <td>{{ user.date_joined|date:"F d, Y" }}</td>
            <td>
              <a href="{% url 'view_pilot_profile' user.id %}" class="btn btn-primary">View Profile</a>
              <a href="{% url 'send_message' user.id %}" class="btn btn-success">Send Message</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
